body
{
  font: 28px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-image: radial-gradient(red, yellow, green);
}
.container
{
  width:80%;
  margin:auto;
  overflow:hidden;
}
.reasons {
  font-weight: bold;
}
header
{
  background:#d68787;
  color:#000000;
  padding-top:30px;
  min-height:70px;
  border-bottom:#780404 3px solid;
}

header #logo
{
  float:left;
}

header #logo h1
{
  margin:0;
}