body
{
  font: 28px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  color: blue;
  margin:0;
  background-image: url('https://i.pinimg.com/originals/92/0c/d2/920cd2ba47d7a57d7eadf43cac6d3f53.jpg');
}
.container
{
  width:80%;
  margin:auto;
  overflow:hidden;
}
.reasons {
  font-weight: bold;
  color: pink;
  -webkit-text-stroke: 1px black;
}
header
{
  background:#994d00;
  color:#994d00;
  padding-top:30px;
  min-height:70px;
  border-bottom:#663300 3px solid;
}

header #logo
{
  float:left;
}

header #logo h1
{
  margin:0;
  color: lightgreen;
}
ul
{
  -webkit-text-stroke: 1px black;
}
